//=================================
// SCROLL MAGIC
//=================================

.spacer {
  min-height: 500px;
}

path {
  fill: white;
  stroke: #33629c;
  stroke-width: 5px;
}

#trigger1 {
  min-height: 1px;
  background: black;
}